In [1]:
import pandas as pd
import random

In [2]:
lirbary = pd.read_csv("books.csv")
sample = lirbary.sample(6)

avr_book = sample.iloc[0]
sample

,bookID,title,authors,publisher,Genres,target_groups,tags,num_pages,language_code,country_of_origin,publication_date,average_rating,ratings_count,month_rentals
965,965,Teaching with the Brain in Mind,['Eric Jensen'],Association for Supervision & Curriculum Devel...,['parenting_and_families'],married_people,"['demi-gods', 'guns', 'the_chosen_one', 'ancie...",186,eng,Germany,2005,4.11,592,45
9526,9526,Winston Churchill,['John Keegan'],Viking Books,['true_crime'],girls,"['time_travel', 'debut']",196,en-GB,Mexico,2002,3.83,821,63
2083,2083,Anleitung zum Zickigsein,['Laurie Notaro'],Lübbe,"['graphic_novel', 'guide_how_to', 'women_s_fic...",single_parents,"['female_protagonist', 'wolves', 'ancient_gree...",254,ger,Japan,2003,3.88,2,0
4518,4518,And Then There Were None,['Agatha Christie'],St. Martin's Press,"['urban_fantasy', 'contemporary_fiction']",adults,"['violence', 'first_love', 'sex']",264,eng,United_Kingdom,2004,4.26,625767,48135
7641,7641,Baghdad Without a Map and Other Misadventures ...,['Tony Horwitz'],Plume Books,"['urban_fantasy', 'thriller_and_suspense', 'yo...",teens,['male_protagonist'],285,eng,USA,1992,3.98,3653,281
859,859,Scholar of Decay (Ravenloft #14),['Tanya Huff'],TSR,['horror'],extroverts,"['mafia', 'gods', 'betrayal', 'hero', 'cheatin...",313,eng,Korea,2000,3.46,38,2

In [3]:
from collections import Counter

colection_to_count = ["title",	"publisher", "target_groups", "language_code",	"country_of_origin"]
for columnName in colection_to_count:
    result = Counter(sample[columnName].values).most_common(1)
    avr_book[columnName] = result[0][0]
    
avr_book

c:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

bookID                                                             965
title                                  Teaching with the Brain in Mind
authors                                                ['Eric Jensen']
publisher            Association for Supervision & Curriculum Devel...
Genres                                      ['parenting_and_families']
target_groups                                           married_people
tags                 ['demi-gods', 'guns', 'the_chosen_one', 'ancie...
num_pages                                                          186
language_code                                                      eng
country_of_origin                                              Germany
publication_date                                                  2005
average_rating                                                    4.11
ratings_count                                                      592
month_rentals                                                       45
Name: 965, dtype: object

In [4]:
colectiton_to_take_med = ["num_pages",	"publication_date",	"average_rating",	"ratings_count",	"month_rentals"]

for columnName in colectiton_to_take_med:
    avr_book[columnName] = sample[columnName].median()

In [5]:
from ast import literal_eval

hamingowe = ["tags", "Genres", "authors"]

for columnName in hamingowe:
    cos = [i for a in sample[columnName].apply(literal_eval) for i in a]
    countered_cos = Counter(cos).most_common()
    max = countered_cos[0][1]
    out = []
    for a, i in countered_cos:
        if( i >= max):
            out.append(a)
        else:
            break
    avr_book[columnName] = out

In [6]:
avr_book

bookID                                                             965
title                                  Teaching with the Brain in Mind
authors              [Eric Jensen, John Keegan, Laurie Notaro, Agat...
publisher            Association for Supervision & Curriculum Devel...
Genres                                                 [urban_fantasy]
target_groups                                           married_people
tags                                                     [time_travel]
num_pages                                                        259.0
language_code                                                      eng
country_of_origin                                              Germany
publication_date                                                2002.5
average_rating                                                    3.93
ratings_count                                                    706.5
month_rentals                                                     54.0
Name: 965, dtype: object

Test finalnego algorytmu

In [7]:
import Average_Book as ab

sample = lirbary.sample(2)

print(ab.avr_book(sample))

bookID                                                            8836
title                                                           Dakota
authors                                     [Matt Braun, Peter Straub]
publisher                                      St. Martin's Paperbacks
Genres               [romance, short_story, self_help, travel, youn...
target_groups                                           single_parents
tags                                                      [first_love]
num_pages                                                        436.5
language_code                                                      eng
country_of_origin                                                Japan
publication_date                                                1997.0
average_rating                                                   3.835
ratings_count                                                  30681.5
month_rentals                                                   2359.5
Name: 8836, dtype: object

In [8]:
sample

,bookID,title,authors,publisher,Genres,target_groups,tags,num_pages,language_code,country_of_origin,publication_date,average_rating,ratings_count,month_rentals
8836,8836,Dakota,['Matt Braun'],St. Martin's Paperbacks,"['romance', 'short_story']",single_parents,"['first_love', 'homonkulus', 'time_travel', 'f...",306,eng,Japan,2005,3.72,33,2
5427,5427,Ghost Story,['Peter Straub'],Pocket Books / Simon & Schuster Inc.,"['self_help', 'travel', 'young_adult']",single_fathers,['archery'],567,eng,China,1989,3.95,61330,4717